name: Release

env:
  YARN_INSTALL_NOPT: yarn add --ignore-platform --ignore-optional

on:
  push:
    branches:
      - master
      - main
    tags:
      - v*
  workflow_dispatch:

jobs:
  release:
    runs-on: ${{ matrix.os }}
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.snapcraft_token }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-22.04]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install RPM & Pacman (on Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update &&
          sudo apt-get install --no-install-recommends -y rpm &&
          sudo apt-get install --no-install-recommends -y libarchive-tools &&
          sudo apt-get install --no-install-recommends -y libopenjp2-tools

      - name: Install Snapcraft (on Ubuntu)
        uses: samuelmeuli/action-snapcraft@v3
        if: startsWith(matrix.os, 'ubuntu')

      - name: Install dependencies
        run: yarn --ignore-optional --network-timeout 100000

      - id: get_unm_version
        name: Get the installed UNM version
        run: |
          unm_version=$(node -e "console.log(require('./node_modules/@unblockneteasemusic/rust-napi/package.json').version)")
          echo "unmver=${unm_version}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Install UNM dependencies for Windows
        if: runner.os == 'Windows'
        run: |
          ${{ env.YARN_INSTALL_NOPT }} \
            @unblockneteasemusic/rust-napi-win32-x64-msvc@${{steps.get_unm_version.outputs.unmver}}
        shell: bash

      - name: Install UNM dependencies for macOS
        if: runner.os == 'macOS'
        run: |
          ${{ env.YARN_INSTALL_NOPT }} \
            @unblockneteasemusic/rust-napi-darwin-x64@${{steps.get_unm_version.outputs.unmver}} \
            @unblockneteasemusic/rust-napi-darwin-arm64@${{steps.get_unm_version.outputs.unmver}} \
            dmg-license
        shell: bash

      - name: Install UNM dependencies for Linux
        if: runner.os == 'Linux'
        run: |
          ${{ env.YARN_INSTALL_NOPT }} \
            @unblockneteasemusic/rust-napi-linux-x64-gnu@${{steps.get_unm_version.outputs.unmver}} \
            @unblockneteasemusic/rust-napi-linux-arm64-gnu@${{steps.get_unm_version.outputs.unmver}} \
            @unblockneteasemusic/rust-napi-linux-arm-gnueabihf@${{steps.get_unm_version.outputs.unmver}}
        shell: bash

      # Use action-electron-builder BUT disable release (release: false)
      # This ensures it only builds and leaves artifacts in dist_electron
      - name: Build Electron app
        uses: samuelmeuli/action-electron-builder@v1.6.0
        env:
          NODE_OPTIONS: --openssl-legacy-provider
          VUE_APP_NETEASE_API_URL: /api
          VUE_APP_ELECTRON_API_URL: /api
          VUE_APP_ELECTRON_API_URL_DEV: http://127.0.0.1:10754
          VUE_APP_LASTFM_API_KEY: 4bdebce458417a777edeb6e96713a7f6
          VUE_APP_LASTFM_API_SHARED_SECRET: 8714e277c07b053dc737e7d4cfb9c09c
        with:
          github_token: ${{ secrets.github_token }}
          release: false
          use_vue_cli: true

      - name: List dist_electron
        run: ls -R dist_electron || echo "dist_electron not found"
        shell: bash

      # Upload Artifacts
      - uses: actions/upload-artifact@v4
        with:
          name: MyMusic-${{ runner.os }}
          path: |
            dist_electron/*.exe
            dist_electron/*.dmg
            dist_electron/*.AppImage
          if-no-files-found: warn

      # Create Release and Upload Assets (Only on Tag)
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            dist_electron/*.exe
            dist_electron/*.dmg
            dist_electron/*.AppImage